.catalog {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, $columns-width);
  justify-content: center;
  gap: $margin-catalog;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, $columns-width);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, $columns-width);
  }

  @media (max-width: 487px) {
    grid-template-columns: $columns-width;
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $columns-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: $margin-catalog;
  }
}
